<!--
首页
pzhang
2017.8.11
-->

{% extends "../public/head.html" %}

{% block cssLink %}
    <link href="{{ static_url('css/index.css') }}" rel="stylesheet">
{% end %}

{% block content %}
        <!--<div class="imageRotation">
            <div class="imageBox" id="taskChart">
                <div class="chart_task" style="width: 1019px; left: -20px;">
                    <p>正在运行的项目</p>
                    <table id="runningProjTb" class="table table-striped table-bordered table-hover table-condensed">
                        <thead>
                        <tr>
                            <th>项目名</th>
                            <th>测试内容</th>
                            <th>测试进度</th>
                            <th>申请人</th>
                            <th>负责人</th>
                            <th>测试人</th>
                            <th>优先级</th>
                            <th>状态</th>
                            <th>风险</th>
                            <th>开始时间</th>
                        </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
                <div class="chart_task" style="width: 1019px;">
                    <p>本周已完成项目</p>
                    <table id="finishProjTb" class="table table-striped table-bordered table-hover table-condensed">
                        <thead>
                        <tr>
                            <th>项目名</th>
                            <th>测试内容</th>
                            <th>测试进度</th>
                            <th>申请人</th>
                            <th>负责人</th>
                            <th>测试人</th>
                            <th>优先级</th>
                            <th>风险</th>
                            <th>开始时间</th>
                            <th>结束时间</th>
                        </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
                <div class="chart_task" style="width: 1019px;">
                    <p>待运行项目</p>
                    <table id="runPendingProjTb" class="table table-striped table-bordered table-hover table-condensed">
                        <thead>
                        <tr>
                            <th>项目名</th>
                            <th>测试内容</th>
                            <th>申请人</th>
                            <th>负责人</th>
                            <th>测试人</th>
                            <th>优先级</th>
                            <th>状态</th>
                            <th>风险</th>
                            <th>预计开始时间</th>
                            <th>预计结束时间</th>
                        </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="icoBox" >
            <img rel="1" class="ico_active" src="{{ static_url('img/bullet-yellow.png') }}"/>
            <img rel="2" src="{{ static_url('img/bullet-grey.png') }}"/>
            <img rel="3" src="{{ static_url('img/bullet-grey.png') }}"/>
        </div>-->
    <div id="indexCarousel" class="carousel slide"><!-- style="height: 650px; padding-bottom: 10px; overflow-y:auto;"-->
        <ol class="carousel-indicators">
            <li data-target="#indexCarousel" data-slide-to="0" class="active">
            </li>
            <li data-target="#indexCarousel" data-slide-to="1">
            </li>
            <li data-target="#indexCarousel" data-slide-to="2">
            </li>
        </ol>
        <div class="carousel-inner">
            <div class="item active">
                <p class="p_title">正在运行的项目</p>
                <table id="runningProjTb" class="table table-striped table-bordered table-hover table-condensed">
                    <thead>
                    <tr>
                        <th>项目名</th>
                        <th>测试内容</th>
                        <th>优先级</th>
                        <th style="min-width: 110px;">测试进度</th>
                        <th>风险</th>
                        <th>开始时间</th>
                        <th>申请人</th>
                        <th>负责人</th>
                        <th>测试人</th>
                        <th>状态</th>
                    </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
            <div class="item">
                <p class="p_title">本周已完成项目</p>
                <table id="finishProjTb" class="table table-striped table-bordered table-hover table-condensed">
                    <thead>
                    <tr>
                        <th>项目名</th>
                        <th>测试内容</th>
                        <th>优先级</th>
                        <th style="min-width: 110px;">测试进度</th>
                        <th>风险</th>
                        <th>开始时间</th>
                        <th>申请人</th>
                        <th>负责人</th>
                        <th>测试人</th>
                    </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
            <div class="item">
                <p class="p_title">已审批待运行项目</p>
                <table id="runPendingProjTb" class="table table-striped table-bordered table-hover table-condensed">
                    <thead>
                    <tr>
                        <th>项目名</th>
                        <th>测试内容</th>
                        <th>优先级</th>
                        <th style="min-width: 110px;">测试进度</th>
                        <th>风险</th>
                        <th>开始时间</th>
                        <th>申请人</th>
                        <th>负责人</th>
                        <th>测试人</th>
                    </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>
        <a class="carousel-control left" href="#indexCarousel" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
        <a class="carousel-control right" href="#indexCarousel" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
    </div>
{% end %}

{% block scriptImport %}
    <script src="{{ static_url('js/index.js') }}"></script>
{% end %}