/*
全局css
pzhang
2016.12.28
*/

.modal{
    top: 10%;
}

span, input, select, button{
    font-size: 13px;
}

input, select {
    height: 25px;
}

.display_none {
    display: none;
}

a:link, a:visited, a:hover, a:active {
    text-decoration: none;
}

table {
    font-size: 13px;
    text-align: center;
}

table th{
    background-color: #FCF8F1;
    color: #555;
    text-align: center;
}

#ajaxLoadingGif .modal-dialog{
    width: auto;
    position: absolute;
    top: 30%;
    left: 48%;
    background-color: transparent;
}

#ajaxLoadingGif .modal-content {
    background-color: transparent;
    box-shadow: none;
    border: 0;
}

.span_dialog_head {
    font-size: 18px;
}

.span_dialog_head span {
    font-size: 18px;
    margin-right: 20px;
}

/*操作按钮样式*/
.div_operate>div{
    position: absolute;
   /* background-color: #ccc;
    border: 1px solid #eee;*/
    display: none;
}

.div_operate>div>button{
    display: block;
}

.error_border {
    border: 1px solid red !important;
    animation: errortip 8s;
    -moz-animation:errortip 8s; /* Firefox */
    -webkit-animation:errortip 8s; /* Safari and Chrome */
    -o-animation:errortip 8s; /* Opera */
}

@keyframes errortip {
    0%   { outline: #ff5e00 auto 8px;}
    10%   { outline: none }
    20%   { outline: #ff5e00 auto 8px; }
    30% { outline: none }
    40%   { outline: #ff5e00 auto 8px; }
    50% { outline: none }
    60%   { outline: #ff5e00 auto 8px; }
    70% { outline: none }
    80% { outline: #ff5e00 auto 8px; }
    90% { outline: none }
    100% { outline: #ff5e00 auto 8px; }
}

@-moz-keyframes errortip { /* Firefox */
    0%   { outline: #ff5e00 auto 8px;}
    10%   { outline: none }
    20%   { outline: #ff5e00 auto 8px; }
    30% { outline: none }
    40%   { outline: #ff5e00 auto 8px; }
    50% { outline: none }
    60%   { outline: #ff5e00 auto 8px; }
    70% { outline: none }
    80% { outline: #ff5e00 auto 8px; }
    90% { outline: none }
    100% { outline: #ff5e00 auto 8px; }
}

@-webkit-keyframes errortip { /* Safari and Chrome */
    0%   { outline: #ff5e00 auto 8px;}
    10%   { outline: none }
    20%   { outline: #ff5e00 auto 8px; }
    30% { outline: none }
    40%   { outline: #ff5e00 auto 8px; }
    50% { outline: none }
    60%   { outline: #ff5e00 auto 8px; }
    70% { outline: none }
    80% { outline: #ff5e00 auto 8px; }
    90% { outline: none }
    100% { outline: #ff5e00 auto 8px; }
}

@-o-keyframes errortip { /* Opera */
    0%   { outline: #ff5e00 auto 8px;}
    10%   { outline: none }
    20%   { outline: #ff5e00 auto 8px; }
    30% { outline: none }
    40%   { outline: #ff5e00 auto 8px; }
    50% { outline: none }
    60%   { outline: #ff5e00 auto 8px; }
    70% { outline: none }
    80% { outline: #ff5e00 auto 8px; }
    90% { outline: none }
    100% { outline: #ff5e00 auto 8px; }
}

