<!--
项目申请页面
pzhang
2017.8.11
-->

{% extends "../../public/head.html" %}

{% block cssLink %}
    <link href="{{ static_url('css/hstpm/proj_sustain/project_apply.css') }}" rel="stylesheet">
    <link href="{{ static_url('thirdpart/MyDatePicker/skin/WdatePicker.css') }}" rel="stylesheet">
{% end %}

{% block content %}
    <div>
        {% module ProjectApplyTempEdit(req_info_map) %}
    </div>
    <div class="div_apply_btn">
        <button class="btn btn-info btn-sm" onclick="saveOrSubmitProject(0, {{req_info_map}});">保存</button>
        <button class="btn btn-primary btn-sm" onclick="saveOrSubmitProject(1, {{req_info_map}});">提交</button>
    </div>

    <input type="hidden" id="hidden_projectId" value="{{ project_id }}" name="{{ project_name }}">
{% end %}

{% block scriptImport %}
    <script src="{{ static_url('js/hstpm/proj_sustain/project_apply.js') }}"></script>
    <script src="{{ static_url('thirdpart/MyDatePicker/WdatePicker.js') }}"></script>
{% end %}