<!--
我负责的项目页面
pzhang
2017.8.11
-->

{% extends "../../public/head.html" %}

{% block cssLink %}
    <link href="{{ static_url('thirdpart/bootstrap-daterangepicker-master/daterangepicker.css') }}" rel="stylesheet">
    <link href="{{ static_url('css/hstpm/proj_sustain/project_own.css') }}" rel="stylesheet">
{% end %}

{% block content %}
<!--搜索我负责的项目表单-->
<div class="div_own_project" id="searchForm" onkeypress="enterToSearch(event, 'searchOwnProjectList(1)')">
    <input type="text" placeholder="项目名称" id="nameInput">
    <input type="text" placeholder="项目创建时间" id="createTimeInput" style="width: 148px;">
    <select id="prioritySelect" onchange="searchOwnProjectList(1)">
        <!--项目优先级-->
        <option value="">优先级</option>
        <option value="p0">p0</option>
        <option value="p1">p1</option>
        <option value="p2">p2</option>
        <option value="p3">p3</option>
        <option value="p4">p4</option>
        <option value="p5">p5</option>
    </select>
    <select id="statusSelect" onchange="searchOwnProjectList(1)">
        <!--项目状态-->
    </select>
    <select id="creatorSelect" onchange="searchOwnProjectList(1)">
        <!--申请人-->
        <option value="">申请人</option>
        {% for each_submitter in submitter_list %}
            <option value="{{each_submitter['user_id']}}">{{each_submitter['user_showname']}}</option>
        {% end %}
    </select>
    {% if user['role_id']=='1' %}<!--管理员可以查看所有负责人的项目，并搜索-->
    <select id="ownerSelect" onchange="searchOwnProjectList(1)">
        <!--负责人-->
        <option value="">负责人</option>
        {% for each_owner in owner_list %}
            <option value="{{each_owner['user_id']}}">{{each_owner['user_showname']}}</option>
        {% end %}
    </select>
    {% else %}<!--游客只能查看自己负责的项目，并且下拉框是定死的-->
    <select id="ownerSelect">
        <option value="user['user_id']">{{user['showname']}}</option>
    </select>
    {% end %}
    <button type="button" class="btn btn-primary btn-xs" onclick="searchOwnProjectList(1)">搜索</button>
    <button type="button" class="btn btn-danger btn-xs" onclick="resetForm('searchForm')">重置</button>
</div>

<!--搜索结果显示列表-->
<table class="table table-striped table-bordered table-hover table-condensed" id="tableOwnProjectList">
    <thead>
    <tr>
        <th>ID</th>
        <th>名称</th>
        <th>创建时间</th>
        <th>状态</th>
        <th>申请人</th>
        <th>负责人</th>
        <th>风险</th>
        <th>开始时间</th>
        <th>结束时间</th>
        <th>操作</th>
    </tr>
    </thead>
    <tbody>

    </tbody>
</table>

<!--分页信息-->
<div class="row div_page">
    <div class="col-md-4" onkeypress="enterToSearch(event, 'searchOwnProjectList(1)')">
        每页&nbsp;<input type="number" min="0" max="100" id="pageSize" class="input_count text-center" value="10" >&nbsp;条记录
    </div>
    <div class="col-md-4 text-center">
        共&nbsp;<span id="totalPage"></span>&nbsp;页
        &nbsp;&nbsp;&nbsp;
        共&nbsp;<span id="totalRecord"></span>&nbsp;条记录
    </div>
    <div class="col-md-4 text-right" onkeypress="enterToSearch(event, 'searchOwnProjectList(\'currentpage\')')">
        <a id="firstPage"><span class="glyphicon glyphicon-step-backward"></span></a>
        <a id="previousPage"><span class="glyphicon glyphicon-chevron-left"></span></a>
        第&nbsp;<input type="number" min="1" id="currentPage" class="input_count text-center" value="1">&nbsp;页
        <a id="nextPage"><span class="glyphicon glyphicon-chevron-right"></span></a>
        <a id="lastPage"><span class="glyphicon glyphicon-step-forward"></span></a>
    </div>
</div>


    <div class="modal" id="reasonDialog" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog" style="width: 400px; height: 120px;">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" arial-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel">操作原因</h4>
                </div>
                <div class="modal-body" style="height: 90px;">
                    <textarea type="text" id="opComments" style="width: 100%; height: 50px;"></textarea>
                </div>
                <div class="modal-footer">
                    <button type="button" id="sureBtn" class="btn btn-primary">确定</button>
                </div>
            </div>
        </div>
    </div>
{% end %}

{% block scriptImport %}
    <script src="{{static_url('thirdpart/bootstrap-daterangepicker-master/moment.min.js')}}"></script>
    <script src="{{static_url('thirdpart/bootstrap-daterangepicker-master/daterangepicker.js')}}"></script>
    <script src="{{ static_url('js/hstpm/proj_sustain/project_own.js') }}"></script>
{% end %}