<!--
我负责的项目页面
pzhang
2017.8.11
-->

{% extends "../../public/head.html" %}

{% block cssLink %}
    <link href="{{ static_url('css/hstpm/proj_sustain/project_own_edit.css') }}" rel="stylesheet">
    <link href="{{ static_url('thirdpart/MyDatePicker/skin/WdatePicker.css') }}" rel="stylesheet">
{% end %}

{% block content %}
    <div id="tabDiv">
        <ul id="tabUl" class="nav nav-tabs">
            <li><a href="#req_info_map" data-toggle="tab">提交信息</a></li>
        </ul>
        <div id="tabContentDiv" class="tab-content">
            <div id="req_info_map" class="tab-pane fade">
                {% module ProjectApplyTempEdit(rcdata['req_info_map']) %}
            </div>

        </div>
    </div>

    <div class="modal" id="reasonDialog" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog" style="width: 400px; height: 120px;">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel">操作原因</h4>
                </div>
                <div class="modal-body" style="height: 90px;">
                    <textarea type="text" id="opComments" style="width: 100%; height: 50px;"></textarea>
                </div>
                <div class="modal-footer">
                    <button type="button" id="sureBtn" class="btn btn-primary">确定</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal" id="sustainHistoryDialog" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog" style="width: 700px; height: 620px;">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">历史运维记录</h4>
                </div>
                <div class="modal-body" style="height: 600px;max-height: 600px; overflow-y: auto;">
                    <select id="sustainHistoryDate" onchange="getSustainHistoryInfo(this)" style="float: right;width: 120px;margin-right: 5%;"></select>
                    <div >
                        <table class="tb_approve">
                            <tr>
                                <td class="td_label td_align">总体运维进度</td>
                            </tr>
                            <tr>
                                <td colspan="4" class="td_align">
                                    <p id="his_totalProgress" class="p_progress_content"></p>
                                </td>
                            </tr>
                            <tr>
                                <td class="td_label td_align">个人测试进度</td>
                            </tr>
                            <tr>
                                <td colspan="4">
                                    <div id="his_singleProgress">
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td class="td_label td_align">bug列表</td>
                            </tr>
                            <tr>
                                <td colspan="4" align="left">
                                    <div id="his_bugAdded" class="div_bug_his"></div>
                                </td>
                            </tr>
                            <tr>
                                <td class="td_label td_align">bug链接</td>
                                <td colspan="3" class="td_bug_a" id="his_bugATd"></td>
                            </tr>
                            <tr>
                                <td class="td_label td_align">风险评估</td>
                            </tr>
                            <tr>
                                <td colspan="4" class="td_align">
                                    <p id="his_sustainRisk" class="p_progress_content"></p>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal">关闭</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal" id="viewTemplateDialog" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title"></h4>
                </div>
                <div class="modal-body">

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal">关闭</button>
                </div>
            </div>
        </div>
    </div>

    <input type="hidden" id="hidden_projectId" value="{{ project_id }}" name="">
    <input type="hidden" id="hidden_projectInfo" value="{{ msg }}">
{% end %}

{% block scriptImport %}
    <script src="{{ static_url('js/hstpm/proj_sustain/project_own_edit.js') }}"></script>
    <script src="{{ static_url('thirdpart/MyDatePicker/WdatePicker.js') }}"></script>
{% end %}