<!--
项目审批页面
pzhang
2017.8.11
-->

{% extends "../../public/head.html" %}

{% block cssLink %}
    <link href="{{ static_url('thirdpart/bootstrap-daterangepicker-master/daterangepicker.css') }}" rel="stylesheet">
    <link href="{{ static_url('css/hstpm/proj_mgmt/project_approve.css') }}" rel="stylesheet">
{% end %}

{% block content %}
    <!--搜索项目审批页面表单-->
    <div class="div_project_approve" id="searchForm" onkeypress="enterToSearch(event, 'searchProjectList(1)')">
        <input type="text" placeholder="项目名称" id="nameInput">
        <input type="text" placeholder="项目创建时间" id="createTimeInput" style="width: 148px;">
        <select id="prioritySelect" onchange="searchProjectList(1)">
            <!--项目优先级-->
            <option value="">优先级</option>
            <option value="p0">p0</option>
            <option value="p1">p1</option>
            <option value="p2">p2</option>
            <option value="p3">p3</option>
            <option value="p4">p4</option>
            <option value="p5">p5</option>
        </select>
        <select id="statusSelect" onchange="searchProjectList(1)">
            <!--项目状态-->
        </select>
        <select id="creatorSelect" onchange="searchProjectList(1)">
            <!--申请人-->
            <option value="">申请人</option>
            {% for each_submitter in list_dict["submitter_list"] %}
                <option value="{{each_submitter['user_id']}}">{{each_submitter['user_showname']}}</option>
            {% end %}
        </select>
        <select id="ownerSelect" onchange="searchProjectList(1)">
            <!--负责人-->
            <option value="">负责人</option>
            {% for each_owner in list_dict["owner_list"] %}
                <option value="{{each_owner['user_id']}}">{{each_owner['user_showname']}}</option>
            {% end %}
        </select>
        <button type="button" class="btn btn-primary btn-xs" onclick="searchProjectList(1)">搜索</button>
        <button type="button" class="btn btn-danger btn-xs" onclick="resetForm('searchForm')">重置</button>
    </div>

    <!--搜索结果显示列表-->
    <table class="table table-striped table-bordered table-hover table-condensed" id="tableOwnProjectList">
        <thead>
        <tr>
            <th>ID</th>
            <th>名称</th>
            <th>创建时间</th>
            <th>状态</th>
            <th>申请人</th>
            <th>负责人</th>
            <th>风险</th>
            <th>开始时间</th>
            <th>结束时间</th>
            <th>操作</th>
        </tr>
        </thead>
        <tbody>

        </tbody>
    </table>

    <!--分页信息-->
    <div class="row div_page">
        <div class="col-md-4" onkeypress="enterToSearch(event, 'searchProjectList(1)')">
            每页&nbsp;<input type="number" min="0" max="100" id="pageSize" class="input_count text-center" value="10" >&nbsp;条记录
        </div>
        <div class="col-md-4 text-center">
            共&nbsp;<span id="totalPage"></span>&nbsp;页
            &nbsp;&nbsp;&nbsp;
            共&nbsp;<span id="totalRecord"></span>&nbsp;条记录
        </div>
        <div class="col-md-4 text-right" onkeypress="enterToSearch(event, 'searchProjectList(\'currentpage\')')">
            <a id="firstPage"><span class="glyphicon glyphicon-step-backward"></span></a>
            <a id="previousPage"><span class="glyphicon glyphicon-chevron-left"></span></a>
            第&nbsp;<input type="number" min="1" id="currentPage" class="input_count text-center" value="1">&nbsp;页
            <a id="nextPage"><span class="glyphicon glyphicon-chevron-right"></span></a>
            <a id="lastPage"><span class="glyphicon glyphicon-step-forward"></span></a>
        </div>
    </div>

    <div class="modal" id="editApproveInfoDialog" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog" style="width: 800px; height: 500px;">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" arial-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel">修改审批信息</h4>
                </div>
                <div class="modal-body" style="height: 470px;">
                    <div>
                        <table class="tb_approve">
                            <tr>
                                <td class="td_label">项目负责人</td>
                                <td class="td_value">
                                    <select id="owner_id" onchange="setUserName(this);" title="输入首字母进行索引搜索">
                                        {% for users in list_dict["user_list"] %}
                                            <option value="{{ users['id'] }}" name="{{ users['name'] }}">{{ users["showname"] }}</option>
                                        {% end %}
                                    </select>
                                    <span class="text-danger">*</span>
                                    <input type="hidden" id="owner" value="">
                                </td>
                                <td style="16%">项目优先级</td>
                                <td>
                                    <select id="priority" style="width: 150px; min-width: 150px;">
                                        <option>p0</option><option>p1</option><option>p2</option><option>p3</option><option>p4</option><option>p5</option>
                                    </select>
                                    <span class="text-danger">*</span>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="4">
                                    <table class="tb_approve_sub">
                                        <tr>
                                            <td  class="td_label">运维邮件模板</td>
                                            <td class="td_value">
                                                <select id="runTemp">
                                                    {% for temp in list_dict["run_temp_list"] %}
                                                        <option value="{{ temp['id'] }}">{{ temp["name"] }}</option>
                                                    {% end %}
                                                </select>
                                                <span class="text-danger">*</span>
                                                <button type="button" class="btn btn-info btn-xs" style="position:absolute;margin-left: 3px; margin-top: 6px;" onclick="getMailTemplateContent(this,  'sustain')">查看</button>
                                            </td>
                                            <td colsapn="2"></td>
                                        </tr>
                                        <tr>
                                            <td>发送至</td>
                                            <td>
                                                <div class="div_userList" id="runTemp_mailTo_userDiv" onclick="addFocusEvent(document.getElementById('runTemp_mailTo_userDiv'), function(e){});" onkeypress="indexUser(event, 'runTemp_mailTo_userUlDiv');" title="输入首字母进行索引搜索">
                                                    <span id="runTemp_mailTo_userPart" onclick="showOrHideUser('runTemp_mailTo')">
                                                        <span id="runTemp_mailTo_user">请选择用户</span>
                                                        <span class="caret img_updown"></span>
                                                    </span>&nbsp;&nbsp;
                                                    <div class="div_userList_ul" id="runTemp_mailTo_userUlDiv" style="display: none;">
                                                        <ul id="runTemp_mailTo_userUl">
                                                            {% for users in list_dict["user_list"] %}
                                                                <li class="li-unstyled" onclick="clearLassIndex(this)">
                                                                    <span>{{ users["showname"] }}</span>
                                                                    <input type="checkbox" value="{{ users['id'] }}" name="{{ users['name'] }}" showname="{{ users['showname'] }}" onclick="setCheckedShow(this);">
                                                                </li>
                                                            {% end %}
                                                        </ul>
                                                    </div>
                                                </div>
                                            </td>
                                            <td colspan="2">
                                                <input type="hidden" id="runTemp_mailTo">
                                                <input type="hidden" id="runTemp_mailTo_id">
                                                <input type="text" id="runTemp_mailTo_name" class="input_long" readonly="readonly">
                                                <span class="text-danger">*</span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>抄送至</td>
                                            <td>
                                                <div class="div_userList" id="runTemp_mailCC_userDiv" onclick="addFocusEvent(document.getElementById('runTemp_mailCC_userDiv'), function(e){});" onkeypress="indexUser(event, 'runTemp_mailCC_userUlDiv');" title="输入首字母进行索引搜索">
                                                    <span id="runTemp_mailCC_userPart" onclick="showOrHideUser('runTemp_mailCC')">
                                                        <span id="runTemp_mailCC_user">请选择用户</span>
                                                        <span class="caret img_updown"></span>
                                                    </span>&nbsp;&nbsp;
                                                    <div class="div_userList_ul" id="runTemp_mailCC_userUlDiv" style="display: none;">
                                                        <ul id="runTemp_mailCC_userUl">
                                                            {% for users in list_dict["user_list"] %}
                                                                <li class="li-unstyled" onclick="clearLassIndex(this)">
                                                                    <span>{{ users["showname"] }}</span>
                                                                    <input type="checkbox" value="{{ users['id'] }}" name="{{ users['name'] }}" showname="{{ users['showname'] }}" onclick="setCheckedShow(this);">
                                                                </li>
                                                            {% end %}
                                                        </ul>
                                                    </div>
                                                </div>
                                            </td>
                                            <td colspan="2">
                                                <input type="hidden" id="runTemp_mailCC">
                                                <input type="hidden" id="runTemp_mailCC_id">
                                                <input type="text" id="runTemp_mailCC_name" class="input_long" readonly="readonly">&nbsp;&nbsp;
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="4">
                                    <table class="tb_approve_sub" style="margin-bottom: 20px;">
                                        <tr>
                                            <td class="td_label">结束邮件模板</td>
                                            <td class="td_value">
                                                <select id="finishTemp">
                                                    {% for temp in list_dict["finish_temp_list"] %}
                                                        <option value="{{ temp['id'] }}">{{ temp["name"] }}</option>
                                                    {% end %}
                                                </select>
                                                <span class="text-danger">*</span>
                                                <button type="button" class="btn btn-info btn-xs" style="position:absolute;margin-left: 3px; margin-top: 6px;" onclick="getMailTemplateContent(this, 'end')">查看</button>
                                            </td>
                                            <td colspan="2"></td>
                                        </tr>
                                        <tr>
                                            <td>发送至</td>
                                            <td>
                                                <div class="div_userList" id="finishTemp_mailTo_userDiv" onclick="addFocusEvent(document.getElementById('finishTemp_mailTo_userDiv'), function(e){});" onkeypress="indexUser(event, 'finishTemp_mailTo_userUlDiv');" title="输入首字母进行索引搜索">
                                                    <span id="finishTemp_mailTo_userPart" onclick="showOrHideUser('finishTemp_mailTo')">
                                                        <span id="finishTemp_mailTo_user">请选择用户</span>
                                                        <span class="caret img_updown"></span>
                                                    </span>&nbsp;&nbsp;
                                                    <div class="div_userList_ul" id="finishTemp_mailTo_userUlDiv" style="display: none;">
                                                        <ul id="finishTemp_mailTo_userUl">
                                                            {% for users in list_dict["user_list"] %}
                                                                <li class="li-unstyled" onclick="clearLassIndex(this)">
                                                                    <span>{{ users["showname"] }}</span>
                                                                    <input type="checkbox" value="{{ users['id'] }}" name="{{ users['name'] }}" showname="{{ users['showname'] }}" onclick="setCheckedShow(this);">
                                                                </li>
                                                            {% end %}
                                                        </ul>
                                                    </div>
                                                </div>
                                            </td>
                                            <td colspan="2">
                                                <input type="hidden" id="finishTemp_mailTo">
                                                <input type="hidden" id="finishTemp_mailTo_id">
                                                <input type="text" id="finishTemp_mailTo_name" class="input_long" readonly="readonly">
                                                <span class="text-danger">*</span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>抄送至</td>
                                            <td>
                                                <div class="div_userList" id="finishTemp_mailCC_userDiv" onclick="addFocusEvent(document.getElementById('finishTemp_mailCC_userDiv'), function(e){});" onkeypress="indexUser(event, 'finishTemp_mailCC_userUlDiv');" title="输入首字母进行索引搜索">
                                                    <span id="finishTemp_mailCC_userPart" onclick="showOrHideUser('finishTemp_mailCC')">
                                                        <span id="finishTemp_mailCC_user">请选择用户</span>
                                                        <span class="caret img_updown"></span>
                                                    </span>&nbsp;&nbsp;
                                                    <div class="div_userList_ul" id="finishTemp_mailCC_userUlDiv" style="display: none;">
                                                        <ul id="finishTemp_mailCC_userUl">
                                                            {% for users in list_dict["user_list"] %}
                                                                <li class="li-unstyled" onclick="clearLassIndex(this)">
                                                                    <span>{{ users["showname"] }}</span>
                                                                    <input type="checkbox" value="{{ users['id'] }}" name="{{ users['name'] }}" showname="{{ users['showname'] }}" onclick="setCheckedShow(this);">
                                                                </li>
                                                            {% end %}
                                                        </ul>
                                                    </div>
                                                </div>
                                            </td>
                                            <td colspan="2">
                                                <input type="hidden" id="finishTemp_mailCC">
                                                <input type="hidden" id="finishTemp_mailCC_id">
                                                <input type="text" id="finishTemp_mailCC_name" class="input_long" readonly="readonly">&nbsp;&nbsp;
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                            <tr style="border-top: 1px solid #ccc;">
                                <td class="td_label">审批备注</td>
                            </tr>
                            <tr>
                                <td colspan="4">
                                    <textarea id="approve_comments"></textarea>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" id="sureBtn" class="btn btn-primary">保存</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal" id="viewTemplateDialog" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title"></h4>
                </div>
                <div class="modal-body">

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal">关闭</button>
                </div>
            </div>
        </div>
    </div>

    <input type="hidden" id="hidden_userList" value="{{ list_dict['user_list_str'] }}">
{% end %}

{% block scriptImport %}
    <script src="{{static_url('thirdpart/bootstrap-daterangepicker-master/moment.min.js')}}"></script>
    <script src="{{static_url('thirdpart/bootstrap-daterangepicker-master/daterangepicker.js')}}"></script>
    <script src="{{ static_url('js/hstpm/proj_mgmt/project_approve.js') }}"></script>
{% end %}