/*
项目运维-项目查询页面相关css
pzhang
2017.8.11
*/


/*搜索未提交的项目表单样式*/
.div_search_unsubmitted{
    margin-top: 10px;
    margin-bottom: 10px;
}
.div_search_unsubmitted input[type=text] {
    vertical-align: top;
    width: 100px;
}
.div_search_unsubmitted button {
    margin-bottom: 3px;
}

/*分页部分样式*/
.div_page{
    width: 100%;
    margin: 10px auto;
}
.input_count{
    width: 50px;
}

.div_operate .glyphicon-triangle-left, .div_operate .glyphicon-triangle-right {
    font-size: 12px;
    -webkit-transform: scale(0.75);
}

.div_operate a {
    color: #fff;
}