<table class="tb_apply_temp">
    <caption>自动化测试申请表</caption>
    <tbody>
    <tr>
        <td style="width:12%;">项目名称</td>
        <td style="width: 40%;">
            <input type="text" id="projName" value="{{proj_info['projName_val']}}" placeholder="请输入具体的项目名称，如5.5R5P1">
            <span class="text-danger">*</span>
        </td>

        <td style="width: 14%;">发布日期</td>
        <td>
            <input type="text" id="projPubDate" onFocus="WdatePicker({minDate:'%y-%M-%d',dateFmt:'yyyy-MM-dd'})" value="{{proj_info['projPubDate_val']}}">
            <span class="text-danger">*</span>
        </td>
    </tr>
    <tr>
        <td class="td_label" >QA接口人</td>
        <td><input type="text" id="qaLiaison" value="{{proj_info['qaLiaison_val']}}" placeholder="请输入该项目的QA负责人"><span class="text-danger">*</span></td>

        <td class="td_label">研发接口人</td>
        <td>
            <input type="text" id="projLiaison" value="{{proj_info['projLiaison_val']}}" placeholder="请输入该项目的研发负责人">
            <span class="text-danger">*</span>
        </td>
    </tr>
    <tr>
        <td colspan="4" class="td_label_title">项目简介</td>
    </tr>
    <tr>
        <td colspan="4">
            <textarea id="desc" placeholder=".cds">{{proj_info["desc_val"]}}</textarea>
            <span class="text-danger">*</span>
        </td>
    </tr>
    <tr class="td_label_header">
        <td colspan="4">自动化测试需求信息</td>
    </tr>
    <tr>
        <td class="td_label">StoneOS软件基线</td>
        <td ondblclick="copyValue(this);">
            <input type="text" id="stoneOsBaseLine" value="{{proj_info['stoneOsBaseLine_val']}}" placeholder="请输入具体分支名，如HAWAII_REL_R5_P" title="{{proj_info['stoneOsBaseLine_val']}}双击复制">
            <span class="text-danger">*</span>
        </td>
        <td>测试版本路径</td>
        <td ondblclick="copyValue(this);">
            <input type="text" id="testImage" value="{{proj_info['testImage_val']}}" placeholder="ftp://10.100.6.10/qa/Midway/MX_MAIN/SG6000-MX_MAIN-56-r0627.bin" title="{{proj_info['testImage_val']}}双击复制">
            <span class="text-danger">*</span>
        </td>
    </tr>
    <tr style="vertical-align: top;">
        <td>测试平台</td>
        <td class="td_check">
            {% if 'E,' in proj_info['platform_check_val'] %}
                <input type="checkbox" id="platform_E" value="E" checked>
            {% else %}
                <input type="checkbox" id="platform_E" value="E">
            {% end %}
            <label for="platform_E">E平台</label>

            {% if 'X,' in proj_info['platform_check_val'] %}
                <input type="checkbox" id="platform_X" value="X" checked>
            {% else %}
                <input type="checkbox" id="platform_X" value="X">
            {% end %}
            <label for="platform_X">X平台</label>

            {% if 'T,' in proj_info['platform_check_val'] %}
                <input type="checkbox" id="platform_T" value="T" checked>
            {% else %}
                <input type="checkbox" id="platform_T" value="T">
            {% end %}
            <label for="platform_T">T平台</label>

            {% if 'NIPS,' in proj_info['platform_check_val'] %}
                <input type="checkbox" id="platform_NIPS" value="NIPS" checked>
            {% else %}
                <input type="checkbox" id="platform_NIPS" value="NIPS">
            {% end %}
            <label for="platform_NIPS">NIPS平台</label>

            {% if 'VFW,' in proj_info['platform_check_val'] %}
                <input type="checkbox" id="platform_VFW" value="VFW" checked>
            {% else %}
                <input type="checkbox" id="platform_VFW" value="VFW">
            {% end %}
            <label for="platform_VFW">VFW平台</label><br>

            {% if 'ADC,' in proj_info['platform_check_val'] %}
                <input type="checkbox" id="platform_ADC" value="ADC" checked>
            {% else %}
                <input type="checkbox" id="platform_ADC" value="ADC">
            {% end %}
            <label for="platform_ADC">ADC平台</label>

            {% if 'ABG,' in proj_info['platform_check_val'] %}
                <input type="checkbox" id="platform_ABG" value="ABG" checked>
            {% else %}
                <input type="checkbox" id="platform_ABG" value="ABG">
            {% end %}
            <label for="platform_ABG">ABG平台</label>

            {% if 'VESA,' in proj_info['platform_check_val'] %}
                <input type="checkbox" id="platform_VESA" value="VESA" checked>
            {% else %}
                <input type="checkbox" id="platform_VESA" value="VESA">
            {% end %}
            <label for="platform_VESA">VESA平台</label>

            {% if 'other,' in proj_info['platform_check_val'] %}
                <input type="checkbox" id="platform_other" value="other" checked>
            {% else %}
                <input type="checkbox" id="platform_other" value="other">
            {% end %}
            <label for="platform_other">其他平台</label>
            <span class="text-danger">*</span>
        </td>

        <td>期望开始日期</td>
        <td><input type="text" id="expectTestStartDate" onFocus="WdatePicker({minDate:'%y-%M-%d',dateFmt:'yyyy-MM-dd'})" value="{{proj_info['expectTestStartDate_val']}}"><span class="text-danger">*</span></td>
    </tr>
    <tr>
        <td colspan="4" class="td_label_title">测试内容</td>
    </tr>
    <tr>
        <td colspan="4"><textarea id="otherExplain" placeholder=".">{{proj_info["otherExplain_val"]}}</textarea><span class="text-danger">*</span></td>
    </tr>
    <tr>
        <td colspan="4" class="td_label_header">新平台测试填写</td>
    </tr>
    <tr>
        <td>设备名称</td>
        <td><input type="text" id="newPlatDevName" value="{{proj_info['newPlatDevName_val']}}" placeholder="请填写新平台的中、英文名单缩写及全称"></td>

        <td>型号名称</td>
        <td><input type="text" id="newPlatVersion" value="{{proj_info['newPlatVersion_val']}}" placeholder="如有多个请用“，”分开，如：X6180，X7180"></td>
    </tr>
    <tr>
        <td>默认hostname</td>
        <td><input type="text" id="defaultHostName" value="{{proj_info['defaultHostName_val']}}" placeholder="请填写新平台HOSTNAME，缺省为：SG-6000"></td>

        <td>管理员账号</td>
        <td><input type="text" id="adminAccountInfo" value="{{proj_info['adminAccountInfo_val']}}" placeholder="请填写新平台登录账号及密码，缺省为：hillstone/hillstone"></td>
    </tr>
    <tr class="td_label_title">
        <td>特性</td>
        <td>是否支持</td>
        <td>默认状态</td>
        <td>unsetall后状态</td>
    </tr>
    <tr>
        <td>urldb</td>
        <td><input type="text" id="urldb_support" value="{{proj_info['urldb_support_val']}}" placeholder="请根据实际情况填写，缺省为：支持"></td>
        <td><input type="text" id="urldb_defaultStatus" value="{{proj_info['urldb_defaultStatus_val']}}" placeholder="请根据实际情况填写，缺省为：关闭"></td>
        <td><input type="text" id="urldb_unsetallStatus" value="{{proj_info['urldb_unsetallStatus_val']}}" placeholder="请根据实际情况填写，缺省为：关闭"></td>
    </tr>
    <tr>
        <td>vsys</td>
        <td><input type="text" id="vsys_support" value="{{proj_info['vsys_support_val']}}" placeholder="请根据实际情况填写，缺省为：支持"></td>
        <td><input type="text" id="vsys_defaultStatus" value="{{proj_info['vsys_defaultStatus_val']}}" placeholder="请根据实际情况填写，缺省为：关闭"></td>
        <td><input type="text" id="vsys_unsetallStatus" value="{{proj_info['vsys_unsetallStatus_val']}}" placeholder="请根据实际情况填写，缺省为：关闭"></td>
    </tr>
    <tr>
        <td>vr</td>
        <td><input type="text" id="vr_support" value="{{proj_info['vr_support_val']}}" placeholder="请根据实际情况填写，缺省为：支持"></td>
        <td><input type="text" id="vr_defaultStatus" value="{{proj_info['vr_defaultStatus_val']}}" placeholder="请根据实际情况填写，缺省为：关闭"></td>
        <td><input type="text" id="vr_unsetallStatus" value="{{proj_info['vr_unsetallStatus_val']}}" placeholder="请根据实际情况填写，缺省为：关闭"></td>
    </tr>
    <tr class="td_label_title">
        <td colspan="2">项目</td>
        <td>结果</td>
        <td>备注</td>
    </tr>
    <tr>
        <td colspan="2" class="td_label_long">支持console命令行使用</td>
        <td><input type="text" id="commandLineSupportResult" value="{{proj_info['commandLineSupportResult_val']}}"></td>
        <td><input type="text" id="commandLineComments" value="{{proj_info['commandLineComments_val']}}"></td>
    </tr>
    <tr>
        <td colspan="2" class="td_label_long">使用中是否需要shell密码</td>
        <td><input type="text" id="shellPwResult" value="{{proj_info['shellPwResult_val']}}"></td>
        <td><input type="text" id="shellPwComments" value="{{proj_info['shellPwComments_val']}}"></td>
    </tr>
    <tr>
        <td colspan="2" class="td_label_long">命令行支持reboot和unsetall</td>
        <td><input type="text" id="rebootUnsetallResult" value="{{proj_info['rebootUnsetallResult_val']}}"></td>
        <td><input type="text" id="rebootUnsetallComments" value="{{proj_info['rebootUnsetallComments_val']}}"></td>
    </tr>
    <tr>
        <td colspan="2" class="td_label_long">unsetall支持保留接口配置和特征库</td>
        <td><input type="text" id="unsetallSaveConfigResult" value="{{proj_info['unsetallSaveConfigResult_val']}}"></td>
        <td><input type="text" id="unsetallSaveConfigComments" value="{{proj_info['unsetallSaveConfigComments_val']}}"></td>
    </tr>
    <tr>
        <td colspan="2" class="td_label_long">可接受reboot/unsetall最长时间</td>
        <td><input type="text" id="longestRebootTimeResult" value="{{proj_info['longestRebootTimeResult_val']}}"></td>
        <td><input type="text" id="longestRebootTimeComments" value="{{proj_info['longestRebootTimeComments_val']}}"></td>
    </tr>
    <tr>
        <td colspan="2" class="td_label_long">正常使用过程中console是否有打印信息</td>
        <td><input type="text" id="consolePrintResult" value="{{proj_info['consolePrintResult_val']}}"></td>
        <td><input type="text" id="consolePrintComments" value="{{proj_info['consolePrintComments_val']}}"></td>
    </tr>
    <tr>
        <td colspan="2" class="td_label_long">登录以后是否需要等待和检查才能继续测试</td>
        <td><input type="text" id="startCheckResult" value="{{proj_info['startCheckResult_val']}}"></td>
        <td><input type="text" id="startCheckComments" value="{{proj_info['startCheckComments_val']}}"></td>
    </tr>
    </tbody>
</table>