/*
项目管理-项目审批页面相关css
pzhang
2017.8.11
*/

/*搜索项目审批表单样式*/
.div_project_approve{
    margin-top: 10px;
    margin-bottom: 10px;
}

.div_own_project input[type=text] {
    vertical-align: top;
    width: 100px;
}

.div_own_project button {
    margin-bottom: 3px;
}

/*所有项目展示列表样式*/
#tableProjectList{
    width: 100%;
}

/*操作按钮设置小一点12*0.75=9px，Chrome浏览器支持的最小字体是12px*/
.glyphicon-step-backward,
.glyphicon-step-forward{
    -webkit-transform: scale(0.75);
    font-size: 12px;
}

/*操作按钮样式*/
.div_operate>div{
    position: absolute;

    background-color: #ccc;
    border: 1px solid #eee;
    /*border-radius: 3px;*/

    display: none;
}
.div_operate>div>button{
    display: block;
    /*margin: 3px;*/
}

/*分页部分样式*/
.div_page{
    width: 100%;
    margin: 10px auto;
}
.input_count{
    width: 50px;
}

/*修改审批信息部分弹出框样式*/
.tb_approve {
    width: 90%;
    line-height: 35px;
    margin-top: 20px;
}

.tb_approve input[type=text], .tb_approve select {
    min-width: 200px;
}

.tb_approve_sub {
    width: 100%;
    border-top: 1px solid #ccc;
    margin-top: 20px;
}

.td_label {
    width: 18%;
}

.td_value {
    width: 35%;
}

.input_long {
    width: 80%;
    font-size: 12px;
}

.div_userList {
    display: inline-block;
    z-index: 100;
    vertical-align: top;
}

.div_userList > span {
    display: inline-block;
    padding: 0 3px;
    min-width: 200px;
    line-height: 25px;
    height: 25px;
    border: 1px solid #999;
    text-align: left;
}

.div_userList_ul {
    position: absolute;
	background-color: #fff;
	max-height: 260px;
	overflow-y: auto;
	border: 1px solid #ccc;
	margin-top: -6px;
}

.div_userList > div > ul {
    padding: 4px 0;
    line-height: 25px;
    width: auto;
    min-width: 200px;
}

.div_userList > div > ul > li {
    text-align: left;
    padding: 0 11px;
}

.div_userList > div > ul > li input{
    float: right;
    width: 15px;
    height: 15px;
    margin-right: 7px;
    margin-top: 5px;
}

.img_updown {
    float: right;
    margin-top: 10px;
    margin-right: 3px;
}

.index_li {
    color: #fff;
    background: #428dea;
}

#editApproveInfoDialog textarea {
    width: 90%;
    height: 80px;
    line-height: 20px;
}