/*
用户配置页面相关css
pzhang
2017.8.11
*/
.tb_apply_temp {
    width: 90%;
    border: 1px solid #ccc;
    line-height: 35px;
    margin: auto;
}

.tb_apply_temp caption {
    background-color: #e69262;
    font-size: 15px;
    font-weight: bold;
    text-align: center;
    color: #fff;
    height: 35px;
    padding: 0;
}

.tb_apply_temp input[type=text] {
    width: 95%;
}

.tb_apply_temp textarea {
    width: 99%;
    border: 1px solid #bbb;
    height: 150px;
    line-height: 20px;
}

.td_label {
    width: 150px;
}

.td_label_title {
    background-color: #bcd2f3;
}

.td_label_header {
    background-color: #74a3ca;
    color: #fff;
    font-weight: bold;
}

.td_label_long {
    text-align: left;
    padding-left: 6%;
}

.td_check {
    text-align: left;
    padding-left: 10px;
}

.td_check input[type=checkbox] {
    margin: 0 !important;
    vertical-align: middle;
}

.td_check label {
    margin-right: 5px;
}

/*#desc::-webkit-input-placeholder {
    color: red;
    display: block;
    background-color: #ccc;
    content: "简要说明下项目的情况，格式如下：\A fdsa";
}*/

#desc::-webkit-input-placeholder:before {
    color:red;
    display: block;
    content:"简要说明下项目的情况，格式如下：\A fdsa"
            + "项目介绍：Polaris项目第1个P分支，合入4个FR分支、10个线上问题\A"
            + "测试目标：优先保证E平台路由、Policy、VPN3大模块功能没有衰退\A"
            + "项目FR链接：请给出FR的具体访问链接（多个时请用“，”隔开），如果无可以不填写\A"
            + "特殊说明：对于新增平台需要提供特殊说明，如可以互切的平台型号等，如果无可以不填写\A";
}



#otherExplain::-webkit-input-placeholder::before {
    color:#666;
    content:"请详细描述测试内容，格式如下：\A "
            + "优先关注测试平台：VFW的VM02、X平台\A"
            + "自动化需求/测试模块等需求：\A"
            + "     1. 对HA、路由、URL过滤、DHCP跑Module Full的脚本。\A"
            + "     2. 对其他基础模块（接口、Policy等）跑Module Basic的脚本。\A"
            + "版本路径：ftp://10.100.6.10/qa/Saipan/HAWAII_REL_R5_P/ \A"
            + "特殊说明：同于X平台X6180、X7180的2个型号的URL过滤功能实现逻辑不一样，都需要分别测试 \A";
}

:-moz-placeholder {
    color: transparent;
}
:-moz-placeholder:before {
    display: block;
    color: #999;
    content: "第一行文本提示 \A 第二行文本提示 \A 第三行文本提示 \A";
}

